@{
    ViewData["Title"] = "Custom Setting Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome from Custom App Setting</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />
<br />
<p>@ViewBag.Message1</p>
<p>@ViewBag.Message2</p>
<p>@ViewBag.Message3</p>